.banner_image {
  width: fit-content;
  height: 70vh;
  margin: 0 auto;
  object-fit: contain;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 6rem;
}

.banner_image img {
  width: 100%;
  height: 70vh;
  object-fit: contain;
  max-height: 100%;
}

/* เพิ่ม media queries สำหรับหน้าจอขนาดต่างๆ */
@media screen and (max-width: 768px) {
  .banner_image {
    height: 50vh;
    margin-top: 3rem;
  }

  .banner_image img {
    height: 50vh;
  }
}

@media screen and (max-width: 480px) {
  .banner_image {
    height: 40vh;
    margin-top: 5.5rem;
  }

  .banner_image img {
    height: 40vh;
  }
}